USE [master]
GO
/****** Object:  Database [CSDLDongThucVat]    Script Date: 2023/12/11 6:32:22 PM ******/
CREATE DATABASE [CSDLDongThucVat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDLDongThucVat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CSDLDongThucVat.mdf' , SIZE = 9280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSDLDongThucVat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CSDLDongThucVat_log.ldf' , SIZE = 5824KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDLDongThucVat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDLDongThucVat]
GO
/****** Object:  StoredProcedure [dbo].[DeleteLoai]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLoai]
    @id INT
AS
BEGIN
    DELETE FROM HinhAnhLoai WHERE id_dtv_loai = @id
    DELETE FROM Loai WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @UserID INT
AS
BEGIN
    DELETE FROM [user] WHERE id = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[HienThi]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HienThi]
	@id INT
AS
BEGIN
    SELECT
		l.name AS TenTiengViet,
        l.name_latinh AS TenLatinh,
        l.ten_khac AS TenKhac,
        h.name AS Ho,
        b.name AS Bo,
        lp.name AS Lop,
        n.name AS Nganh,
        l.muc_do_bao_ton_iucn,
        l.muc_do_bao_ton_sdvn,
        l.muc_do_bao_ton_ndcp,
        l.muc_do_bao_ton_nd64cp,
        l.dac_diem,
        l.gia_tri_su_dung,
        l.phan_bo
    FROM 
        Nganh n
    JOIN 
        Lop lp ON n.id = lp.id_dtv_nganh
    JOIN 
        Bo b ON lp.id = b.id_dtv_lop
    JOIN 
        Ho h ON b.id = h.id_dtv_bo
    JOIN 
        Loai l ON h.id = l.id_dtv_ho
    WHERE l.id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[InsertBo]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertBo]
    @name VARCHAR(255),
    @name_latinh VARCHAR(255),
    @loai BIT,
    @id_dtv_lop INT,
    @status BIT,
    @created_at DATETIME,
    @created_by INT
AS
BEGIN
    INSERT INTO Bo (name, name_latinh, loai, id_dtv_lop, status, created_at, created_by)
    VALUES (@name, @name_latinh, @loai, @id_dtv_lop, @status, @created_at, @created_by)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertHo]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertHo]
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @loai BIT,
    @id_dtv_bo INT,
    @status BIT,
    @created_at DATETIME,
    @created_by INT
AS
BEGIN
    INSERT INTO Ho (name, name_latinh, loai, id_dtv_bo, status, created_at, created_by)
    VALUES (@name, @name_latinh, @loai, @id_dtv_bo, @status, @created_at, @created_by)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertLoai]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertLoai]
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @loai BIT,
    @id_dtv_ho INT,
    @ten_khac NVARCHAR(255),
    @dac_diem NVARCHAR(MAX),
    @gia_tri_su_dung NVARCHAR(MAX),
    @phan_bo NVARCHAR(MAX),
    @nguon_tai_lieu NVARCHAR(255),
    @muc_do_bao_ton_iucn NVARCHAR(50),
    @muc_do_bao_ton_sdvn NVARCHAR(50),
    @muc_do_bao_ton_ndcp NVARCHAR(50),
    @muc_do_bao_ton_nd64cp NVARCHAR(50),
    @status BIT,
    @created_at DATETIME,
    @created_by INT
AS
BEGIN
    INSERT INTO Loai (
        name, name_latinh, loai, id_dtv_ho, ten_khac, dac_diem, gia_tri_su_dung, phan_bo,
        nguon_tai_lieu, muc_do_bao_ton_iucn, muc_do_bao_ton_sdvn,
        muc_do_bao_ton_ndcp, muc_do_bao_ton_nd64cp, status, created_at, created_by
    )
    VALUES (
        @name, @name_latinh, @loai, @id_dtv_ho, @ten_khac, @dac_diem, @gia_tri_su_dung,
        @phan_bo, @nguon_tai_lieu, @muc_do_bao_ton_iucn,
        @muc_do_bao_ton_sdvn, @muc_do_bao_ton_ndcp, @muc_do_bao_ton_nd64cp,
        @status, @created_at, @created_by
    )
END
GO
/****** Object:  StoredProcedure [dbo].[InsertLop]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertLop]
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @loai INT,
    @id_dtv_nganh INT,
    @status BIT,
    @created_at DATETIME,
    @created_by INT
AS
BEGIN
    INSERT INTO Lop (name, name_latinh, loai, id_dtv_nganh, status, created_at, created_by)
    VALUES (@name, @name_latinh, @loai, @id_dtv_nganh, @status, @created_at, @created_by)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertNganh]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertNganh]
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @loai BIT,
    @status BIT,
    @created_at DATETIME,
    @created_by INT
AS
BEGIN
    INSERT INTO Nganh (name, name_latinh, loai, status, created_at, created_by)
    VALUES (@name, @name_latinh, @loai, @status, @created_at, @created_by)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
    @Address NVARCHAR(255),
    @Name NVARCHAR(255),
    @Password NVARCHAR(128),
    @Email NVARCHAR(255),
    @Phone NVARCHAR(255),
    @Gender NVARCHAR(10),
    @Dob DATE,
    @CreatedAt DATETIME,
    @IsAdmin BIT,
    @Status BIT
AS
BEGIN
    INSERT INTO [user] (address, name, password, email, phone, gender, dob, created_at, is_admin, status)
    VALUES (@Address, @Name, @Password, @Email, @Phone, @Gender, @Dob, @CreatedAt, @IsAdmin, @Status)
END
GO
/****** Object:  StoredProcedure [dbo].[Search]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Search]
	@loai BIT,
	@name NVARCHAR(255),
	@name_latinh NVARCHAR(255),
	@id_dtv_nganh INT = NULL,
	@id_dtv_lop INT = NULL,
	@id_dtv_bo INT = NULL,
	@id_dtv_ho INT = NULL,
	@muc_do_bao_ton_iucn NVARCHAR(50) = NULL,
    @muc_do_bao_ton_sdvn NVARCHAR(50) = NULL,
    @muc_do_bao_ton_ndcp NVARCHAR(50) = NULL,
    @muc_do_bao_ton_nd64cp NVARCHAR(50) = NULL
AS
BEGIN
    SELECT
		l.id AS ID,
		l.name AS TenTiengViet,
        l.name_latinh AS TenLatinh,
        l.ten_khac AS TenKhac,
        h.name AS Ho,
        b.name AS Bo,
        lp.name AS Lop,
        n.name AS Nganh,
        l.muc_do_bao_ton_iucn,
        l.muc_do_bao_ton_sdvn,
        l.muc_do_bao_ton_ndcp,
        l.muc_do_bao_ton_nd64cp,
        l.dac_diem,
        l.gia_tri_su_dung,
        l.phan_bo
    FROM 
        Nganh n
    JOIN 
        Lop lp ON n.id = lp.id_dtv_nganh
    JOIN 
        Bo b ON lp.id = b.id_dtv_lop
    JOIN 
        Ho h ON b.id = h.id_dtv_bo
    JOIN 
        Loai l ON h.id = l.id_dtv_ho
    WHERE 
	(l.loai = @loai OR @loai IS NULL)
    AND (n.name LIKE '%' + ISNULL(@name, '') + '%' OR @name IS NULL)
    AND (n.name_latinh LIKE '%' + ISNULL(@name_latinh, '') + '%' OR @name_latinh IS NULL)
    AND (n.id = @id_dtv_nganh OR @id_dtv_nganh IS NULL)
    AND (lp.id = @id_dtv_lop OR @id_dtv_lop IS NULL)
    AND (b.id = @id_dtv_bo OR @id_dtv_bo IS NULL)
    AND (h.id = @id_dtv_ho OR @id_dtv_ho IS NULL)
    AND (l.muc_do_bao_ton_iucn = @muc_do_bao_ton_iucn OR @muc_do_bao_ton_iucn IS NULL OR @muc_do_bao_ton_iucn = '')
    AND (l.muc_do_bao_ton_sdvn = @muc_do_bao_ton_sdvn OR @muc_do_bao_ton_sdvn IS NULL OR @muc_do_bao_ton_sdvn = '')
    AND (l.muc_do_bao_ton_ndcp = @muc_do_bao_ton_ndcp OR @muc_do_bao_ton_ndcp IS NULL OR @muc_do_bao_ton_ndcp = '')
    AND (l.muc_do_bao_ton_nd64cp = @muc_do_bao_ton_nd64cp OR @muc_do_bao_ton_nd64cp IS NULL OR @muc_do_bao_ton_nd64cp = '')
END
GO
/****** Object:  StoredProcedure [dbo].[SuaNganh]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaNganh]
    @id INT,
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @status BIT,
    @updated_at DATETIME,
    @updated_by INT
AS
BEGIN
    UPDATE Nganh
    SET name = @name,
        name_latinh = @name_latinh,
        status = @status,
        updated_at = @updated_at,
        updated_by = @updated_by
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateBo]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBo]
    @id INT,
    @name VARCHAR(255),
    @name_latinh VARCHAR(255),
    @id_dtv_lop INT,
    @status BIT,
    @updated_at DATETIME,
    @updated_by INT
AS
BEGIN
    UPDATE Bo
    SET name = @name,
        name_latinh = @name_latinh,
        id_dtv_lop = @id_dtv_lop,
        status = @status,
        updated_at = @updated_at,
        updated_by = @updated_by
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateHo]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHo]
    @id INT,
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @id_dtv_bo INT,
    @status BIT,
    @updated_at DATETIME,
    @updated_by INT
AS
BEGIN
    UPDATE Ho
    SET name = @name,
        name_latinh = @name_latinh,
        id_dtv_bo = @id_dtv_bo,
        status = @status,
        updated_at = @updated_at,
        updated_by = @updated_by
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLoai]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLoai]
    @id INT,
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @id_dtv_ho INT,
    @ten_khac NVARCHAR(255),
    @dac_diem NVARCHAR(MAX),
    @gia_tri_su_dung NVARCHAR(MAX),
    @phan_bo NVARCHAR(MAX),
    @nguon_tai_lieu NVARCHAR(255),
    @muc_do_bao_ton_iucn NVARCHAR(50),
    @muc_do_bao_ton_sdvn NVARCHAR(50),
    @muc_do_bao_ton_ndcp NVARCHAR(50),
    @muc_do_bao_ton_nd64cp NVARCHAR(50),
    @status BIT,
    @updated_at DATETIME,
    @updated_by INT
AS
BEGIN
    UPDATE Loai
    SET
        name = @name,
        name_latinh = @name_latinh,
        id_dtv_ho = @id_dtv_ho,
        ten_khac = @ten_khac,
        dac_diem = @dac_diem,
        gia_tri_su_dung = @gia_tri_su_dung,
        phan_bo = @phan_bo,
        nguon_tai_lieu = @nguon_tai_lieu,
        muc_do_bao_ton_iucn = @muc_do_bao_ton_iucn,
        muc_do_bao_ton_sdvn = @muc_do_bao_ton_sdvn,
        muc_do_bao_ton_ndcp = @muc_do_bao_ton_ndcp,
        muc_do_bao_ton_nd64cp = @muc_do_bao_ton_nd64cp,
        status = @status,
        updated_at = @updated_at,
        updated_by = @updated_by
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLop]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLop]
    @id INT,
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @id_dtv_nganh INT,
    @status BIT,
    @updated_at DATETIME,
    @updated_by INT
AS
BEGIN
    UPDATE Lop
    SET name = @name,
        name_latinh = @name_latinh,
        id_dtv_nganh = @id_dtv_nganh,
        status = @status,
        updated_at = @updated_at,
        updated_by = @updated_by
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateNganh]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateNganh]
    @id INT,
    @name NVARCHAR(255),
    @name_latinh NVARCHAR(255),
    @status BIT,
    @updated_at DATETIME,
    @updated_by INT
AS
BEGIN
    UPDATE Nganh
    SET name = @name,
        name_latinh = @name_latinh,
        status = @status,
        updated_at = @updated_at,
        updated_by = @updated_by
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateThongTin]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateThongTin]
	@id INT,
	@logo NVARCHAR(MAX),
	@tieude NVARCHAR(255),
	@noidung1 NVARCHAR(MAX),
	@noidung2 NVARCHAR(MAX),
	@noidung3 NVARCHAR(MAX),
	@noidung4 NVARCHAR(MAX)
AS
BEGIN
	UPDATE ThongTin
	SET 
		logo = @logo,
		tieude = @tieude,
		noidung1 = @noidung1,
		noidung2 = @noidung2,
		noidung3 = @noidung3,
		noidung4 = @noidung4
	WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@Id INT,
    @Address NVARCHAR(255),
    @Name NVARCHAR(255),
    @Password NVARCHAR(128),
    @Email NVARCHAR(255),
    @Phone NVARCHAR(255),
    @Gender NVARCHAR(10),
    @Dob DATE,
    @UpdatedAt DATETIME,
    @IsAdmin BIT,
    @Status BIT
AS
BEGIN
    UPDATE [user]
    SET name = @Name, password = @Password, email = @Email, phone = @Phone, gender = @Gender,
        dob = @Dob, updated_at = @UpdatedAt, is_admin = @IsAdmin, status = @Status
    WHERE id = @Id
END
GO
/****** Object:  Table [dbo].[Bo]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[name_latinh] [varchar](255) NULL,
	[loai] [bit] NULL,
	[id_dtv_lop] [int] NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
 CONSTRAINT [PK_dtv_bo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HinhAnhLoai]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhLoai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_dtv_loai] [int] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
 CONSTRAINT [pk1] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[id_dtv_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ho]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ho](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[name_latinh] [nvarchar](255) NULL,
	[loai] [bit] NULL,
	[id_dtv_bo] [int] NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loai]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[name_latinh] [nvarchar](255) NULL,
	[loai] [bit] NULL,
	[id_dtv_ho] [int] NULL,
	[ten_khac] [nvarchar](255) NULL,
	[dac_diem] [nvarchar](max) NULL,
	[gia_tri_su_dung] [nvarchar](max) NULL,
	[phan_bo] [nvarchar](max) NULL,
	[nguon_tai_lieu] [nvarchar](255) NULL,
	[muc_do_bao_ton_iucn] [nvarchar](50) NULL,
	[muc_do_bao_ton_sdvn] [nvarchar](50) NULL,
	[muc_do_bao_ton_ndcp] [nvarchar](50) NULL,
	[muc_do_bao_ton_nd64cp] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[name_latinh] [nvarchar](255) NULL,
	[loai] [bit] NULL,
	[id_dtv_nganh] [int] NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[name_latinh] [nvarchar](255) NULL,
	[loai] [bit] NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL DEFAULT (NULL),
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTin]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[is_image] [bit] NULL,
	[logo] [nvarchar](max) NULL,
	[tieude] [nvarchar](255) NULL,
	[noidung1] [nvarchar](max) NULL,
	[noidung2] [nvarchar](max) NULL,
	[noidung3] [nvarchar](max) NULL,
	[noidung4] [nvarchar](max) NULL,
	[hinhanh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user]    Script Date: 2023/12/11 6:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[password] [nvarchar](128) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[dob] [date] NULL,
	[created_at] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00'),
	[updated_at] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00'),
	[last_signined_time] [datetime] NULL,
	[is_admin] [bit] NOT NULL DEFAULT ((0)),
	[status] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bo] ON 

INSERT [dbo].[Bo] ([id], [name], [name_latinh], [loai], [id_dtv_lop], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, N'ôi dôi ôi', N'oidoioi', 0, 1, 1, CAST(N'2023-12-01 19:11:56.000' AS DateTime), 0, CAST(N'2023-12-01 19:30:18.000' AS DateTime), 0)
INSERT [dbo].[Bo] ([id], [name], [name_latinh], [loai], [id_dtv_lop], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (3, N'Trung Nguyên', N'nguyennguyen', 0, 2, 1, CAST(N'2023-12-01 19:17:24.000' AS DateTime), 0, CAST(N'2023-12-01 19:30:37.000' AS DateTime), 0)
INSERT [dbo].[Bo] ([id], [name], [name_latinh], [loai], [id_dtv_lop], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (4, N'B? không dây không s?ng', N'khongdaykhongsong', 0, 1, 1, CAST(N'2023-12-01 19:20:29.697' AS DateTime), 0, CAST(N'2023-12-02 02:56:49.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Bo] OFF
SET IDENTITY_INSERT [dbo].[HinhAnhLoai] ON 

INSERT [dbo].[HinhAnhLoai] ([id], [id_dtv_loai], [hinhanh]) VALUES (23, 6, N'D:\Images\gg.png')
INSERT [dbo].[HinhAnhLoai] ([id], [id_dtv_loai], [hinhanh]) VALUES (1015, 1008, N'D:\Images\jay-rock-64364971-10158241244339368-2150942290674188288-o.jpg')
INSERT [dbo].[HinhAnhLoai] ([id], [id_dtv_loai], [hinhanh]) VALUES (1016, 1008, N'D:\Images\Linkedin Banner.png')
SET IDENTITY_INSERT [dbo].[HinhAnhLoai] OFF
SET IDENTITY_INSERT [dbo].[Ho] ON 

INSERT [dbo].[Ho] ([id], [name], [name_latinh], [loai], [id_dtv_bo], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, N'Họ có dây sống', N'codaysong', 0, 9, 1, CAST(N'2023-12-02 05:00:00.000' AS DateTime), 0, NULL, 0)
INSERT [dbo].[Ho] ([id], [name], [name_latinh], [loai], [id_dtv_bo], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, N'Họ không dây sống', N'khongdaysong', 0, 12, 1, CAST(N'2023-12-02 05:00:38.000' AS DateTime), 0, NULL, 0)
INSERT [dbo].[Ho] ([id], [name], [name_latinh], [loai], [id_dtv_bo], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (3, N'Họ không dây không sống', N'', 0, 4, 1, CAST(N'2023-12-02 05:01:01.000' AS DateTime), 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Ho] OFF
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([id], [name], [name_latinh], [loai], [id_dtv_ho], [ten_khac], [dac_diem], [gia_tri_su_dung], [phan_bo], [nguon_tai_lieu], [muc_do_bao_ton_iucn], [muc_do_bao_ton_sdvn], [muc_do_bao_ton_ndcp], [muc_do_bao_ton_nd64cp], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, N'LOÀI CÓ DÂY SỐNG', N'CODAYSONG', 0, 1, N'', N'Có dây', N'sống', N'Hướng Hóa', N'Sách đỏ VN', N'', N'', N'Nhóm IB', N'Nhóm IB', 0, CAST(N'2023-12-03 21:26:59.917' AS DateTime), 1, CAST(N'2023-12-07 10:06:46.347' AS DateTime), 6)
INSERT [dbo].[Loai] ([id], [name], [name_latinh], [loai], [id_dtv_ho], [ten_khac], [dac_diem], [gia_tri_su_dung], [phan_bo], [nguon_tai_lieu], [muc_do_bao_ton_iucn], [muc_do_bao_ton_sdvn], [muc_do_bao_ton_ndcp], [muc_do_bao_ton_nd64cp], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, N'LOÀI KHÔNG DÂY SỐNG', N'KHONGDAYSONG', 0, 1, N'', N'Không dây', N's?ng', N'Qu?ng Tr?', N'Sách d? Vi?t Nam', N'EX-Tuy?t ch?ng', N'EX-Tuy?t ch?ng', N'Nhóm IIB', N'Nhóm IIB', 1, CAST(N'2023-12-03 21:28:01.520' AS DateTime), 1, CAST(N'2023-12-03 21:28:01.520' AS DateTime), 1)
INSERT [dbo].[Loai] ([id], [name], [name_latinh], [loai], [id_dtv_ho], [ten_khac], [dac_diem], [gia_tri_su_dung], [phan_bo], [nguon_tai_lieu], [muc_do_bao_ton_iucn], [muc_do_bao_ton_sdvn], [muc_do_bao_ton_ndcp], [muc_do_bao_ton_nd64cp], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (3, N'Test thêm loài', N'loai moi', 0, 2, N'loaimoi', N'đặc điểm', N'công dụng', N'VN', N'SDVN', N'', N'', N'', N'', 0, CAST(N'2023-12-07 10:04:23.580' AS DateTime), 6, CAST(N'2023-12-07 10:05:55.557' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Loai] OFF
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([id], [name], [name_latinh], [loai], [id_dtv_nganh], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, N'Lớp không dây không sống', N'khongdaykhongsong', 0, 8, 0, CAST(N'2023-12-01 17:27:48.660' AS DateTime), 0, CAST(N'2023-12-02 01:45:21.000' AS DateTime), 0)
INSERT [dbo].[Lop] ([id], [name], [name_latinh], [loai], [id_dtv_nganh], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, N'Trung Nguyên', N'trungnguyen', 0, 1, 0, CAST(N'2023-12-01 17:29:25.793' AS DateTime), 0, CAST(N'2023-12-02 01:46:41.000' AS DateTime), 0)
INSERT [dbo].[Lop] ([id], [name], [name_latinh], [loai], [id_dtv_nganh], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (4, N'Lớp có dây sống', N'lopcodaysong', 0, 1, 1, CAST(N'2023-12-01 18:20:11.000' AS DateTime), 0, CAST(N'2023-12-02 01:46:46.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Lop] OFF
SET IDENTITY_INSERT [dbo].[Nganh] ON 

INSERT [dbo].[Nganh] ([id], [name], [name_latinh], [loai], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, N'NGÀNH CÓ DÂY SỐNG', N'CHORDATA', 0, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Nganh] ([id], [name], [name_latinh], [loai], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, N'NGÀNH KHÔNG DÂY SỐNG', N'KHONGDAYSONG', 0, 1, NULL, NULL, CAST(N'2023-12-03 11:22:48.000' AS DateTime), 2)
INSERT [dbo].[Nganh] ([id], [name], [name_latinh], [loai], [status], [created_at], [created_by], [updated_at], [updated_by]) VALUES (7, N'NGÀNH CÓ DÂY KHÔNG SỐNG', N'CHORDATA2', 0, 1, CAST(N'2023-12-02 01:32:30.000' AS DateTime), 0, CAST(N'2023-12-02 01:33:11.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Nganh] OFF
SET IDENTITY_INSERT [dbo].[ThongTin] ON 

INSERT [dbo].[ThongTin] ([id], [is_image], [logo], [tieude], [noidung1], [noidung2], [noidung3], [noidung4], [hinhanh]) VALUES (48, 1, NULL, NULL, NULL, NULL, NULL, NULL, N'D:\Images\jay-rock-64364971-10158241244339368-2150942290674188288-o.jpg')
INSERT [dbo].[ThongTin] ([id], [is_image], [logo], [tieude], [noidung1], [noidung2], [noidung3], [noidung4], [hinhanh]) VALUES (49, 1, NULL, NULL, NULL, NULL, NULL, NULL, N'D:\Images\Linkedin Banner.png')
SET IDENTITY_INSERT [dbo].[ThongTin] OFF
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [address], [name], [password], [email], [phone], [gender], [dob], [created_at], [updated_at], [last_signined_time], [is_admin], [status]) VALUES (1, N'Bắc Hướng Hóa', N'Admin Bắc Hướng Hoá', N'123', N'admin@bachuonghoa.com', N'0978111003', N'Nam', CAST(N'1999-05-18' AS Date), CAST(N'1900-01-01 00:00:00.000' AS DateTime), CAST(N'2023-12-03 20:18:02.000' AS DateTime), NULL, 1, 1)
INSERT [dbo].[user] ([id], [address], [name], [password], [email], [phone], [gender], [dob], [created_at], [updated_at], [last_signined_time], [is_admin], [status]) VALUES (2, N'Bắc Hướng Hóa', N'Admin Bắc Hướng Hoá', N'123456', N'admin@bachuonghoa.com', N'0978111003', N'Nam', CAST(N'1999-05-20' AS Date), CAST(N'2023-12-03 02:58:59.667' AS DateTime), CAST(N'2023-12-03 20:36:53.000' AS DateTime), NULL, 1, 1)
INSERT [dbo].[user] ([id], [address], [name], [password], [email], [phone], [gender], [dob], [created_at], [updated_at], [last_signined_time], [is_admin], [status]) VALUES (3, N'Hướng Hóa, Quảng Trị', N'Nhân Viên', N'2', N'2', N'0977711003', N'Khác', CAST(N'2001-11-30' AS Date), CAST(N'2023-12-03 03:04:03.017' AS DateTime), CAST(N'2023-12-06 18:11:37.293' AS DateTime), CAST(N'2023-12-11 16:58:19.190' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[user] OFF
ALTER TABLE [dbo].[Bo]  WITH CHECK ADD  CONSTRAINT [fk2] FOREIGN KEY([id_dtv_lop])
REFERENCES [dbo].[Lop] ([id])
GO
ALTER TABLE [dbo].[Bo] CHECK CONSTRAINT [fk2]
GO
ALTER TABLE [dbo].[HinhAnhLoai]  WITH CHECK ADD  CONSTRAINT [fk5] FOREIGN KEY([id_dtv_loai])
REFERENCES [dbo].[Loai] ([id])
GO
ALTER TABLE [dbo].[HinhAnhLoai] CHECK CONSTRAINT [fk5]
GO
ALTER TABLE [dbo].[Ho]  WITH CHECK ADD  CONSTRAINT [fk3] FOREIGN KEY([id_dtv_bo])
REFERENCES [dbo].[Bo] ([id])
GO
ALTER TABLE [dbo].[Ho] CHECK CONSTRAINT [fk3]
GO
ALTER TABLE [dbo].[Loai]  WITH CHECK ADD  CONSTRAINT [fk4] FOREIGN KEY([id_dtv_ho])
REFERENCES [dbo].[Ho] ([id])
GO
ALTER TABLE [dbo].[Loai] CHECK CONSTRAINT [fk4]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([id_dtv_nganh])
REFERENCES [dbo].[Nganh] ([id])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [fk1]
GO
USE [master]
GO
